<h1><%= t('views.common.title_edit', name: Comment.model_name.human) %></h1>

<%= form_with(model: [@commentable, @comment]) do |form| %>

  <div class="field">
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', comment_path(@comment) %>
