<h1><%= t('views.common.title_show', name: Book.model_name.human) %></h1>

<p>
  <strong><%= Book.human_attribute_name(:title) %>:</strong>
  <%= @commentable.title %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:memo) %>:</strong>
  <%= @commentable.memo %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:author) %>:</strong>
  <%= @commentable.author %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:picture) %>:</strong>
  <%= image_tag(@commentable.picture_url) if @commentable.picture.present? %>
</p>

<%= link_to t('views.common.edit'), edit_book_path(@commentable) %> |
<%= link_to t('views.common.back'), books_path %>


<h2><%= Comment.model_name.human %></h2>

<% if @commentable.comments.present? %>
  <% @commentable.comments.each do |comment| %>
    <div class="comment">
      <p><%= comment.content %></p>
      <p><%= about_comment_user(comment) %></p>
      <p><%= commented_time(comment) %></p>

      <%= link_to t('views.common.edit'), edit_comment_path(comment) %> |
      <%= link_to t('views.common.destroy'), comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
      <p>-----------------------</p>
    </div>
  <% end %>
<% else %>
  <p><%= t('views.common.no_yet', name: Comment.model_name.human) %></p>
<% end %>

<%= render 'comments/form', commentable: @book, comment: @comments %>
